.header-advert{
  background-color: #B36050;
  width:auto;
  /* max-width: 1440px; */
  height: 47px;
  flex-shrink: 0;
}

.header-advert-btn{
  width: 100%;
}
.header-advertising{
  color: #F1D3B9;
  padding:10px 576px 9px 576px;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  line-height: 27.2px;
}
.header-nav-container{
  padding:8px 5px;
  background-color: #F6F4EC;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav-mobile{
  display: none;
}


.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
/* .header-nav-left 
.header-nav-right{
  display: flex; 
  justify-content: space-between;
} */

.header-nav-left ul {
  display: flex;
  justify-content: space-between;
  width: auto;
}

.header-nav-right ul{
  padding-right: 27px;
  display: flex;
  justify-content: end;
  max-width:432px;
  padding-left: 228px;
  align-items: center;
}

.nav-list{
  margin-left: 32px;
}

.header-nav-logo{
  padding: 5px ;
  display: inline-block
  
}

.header-nav-logo img{
  max-width: none;
}

/* //////////////main page/////////////// */
.header-main-page{
  position: relative;
  min-height: 439px;
}

.header-background {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.header-background img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-content{
  display: flex;
  /* max-width: 128px; */
  min-height: 439px;
  justify-content: center;
  align-items: end;
}


@media (max-width: 1442px){
  .header-advertising{
    padding:10px;
  }
}

@media (max-width:990px){

  .header-container{
    display: flex;
    justify-content: space-between;
    max-width:990px ;
  }
  .header-nav-left{
    display: none;
  }
  .header-nav-mobile{
    display: flex;
    justify-content: space-between;
    min-width: 200px
    /* padding-right: 228px; */
    }
    .header-nav-right ul{
      width:auto;
      padding:10px;
    }
    .header-nav-logo{
      display: flex;
      
    }
}